@charset "UTF-8";

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: rgba(0, 0, 0, 0.695) url('/to-do-list/img/360_F_513597277_YYqrogAmgRR9ohwTUnOM784zS9eYUcSk.jpg') center no-repeat fixed;
    background-size: cover;
    background-blend-mode: darken;
}

h1 {
    text-align: center;
    font-size: 3em;
    color: white;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.321);
    font-variant: small-caps;
}

section {
    display: flex;
    flex-flow: row wrap;
    width: 90%;
    justify-content: center;
    margin: auto;
}

input {
    height: 100px;
    font-size: 2em;
    width: 79%;
    padding-left: 10%;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.276);

}

button.add {
    width: 20%;
    cursor: pointer;
    font-size: 1.2em;
    background-color: rgb(1, 161, 1);
    color: white;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.606);
    border: 1px solid rgba(0, 0, 0, 0.276);
    margin-left: 1%;
    font-weight: bold;
    border-radius: 10px;
}

button.add:hover {
    background-color: rgb(0, 105, 0);
}

section#lista {
    margin-top: 40px;
}

.item {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 80px;
    width: 100%;
    margin-bottom: 2%;
    cursor: pointer;
    border-radius: 10px;
}

.item.clicado {
    background: rgb(215, 255, 215);
}

.item.clicado .item-nome {
    text-decoration: line-through;
    color: gray;
}

.item-icone {
    flex: 20%;
    text-align: center;
}

.item-nome {
    flex: 55%;
    font-size: 1.5em;
    font-weight: bold;
}

.item-botao {
    flex: 25%;
}

.delete {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(233, 0, 0);
    color: white;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.606);
    font-size: 0.9em;
    font-weight: bold;
    border: none;
    border-radius: 0 10px 10px 0;
    padding: 10px;
    height: 80px;
    width: 100%;
}

.delete:hover{
    background-color: rgb(131, 0, 0);
}

.bi.bi-check-circle-fill {
    color: green;
}

.bi.bi-trash {
    padding-right: 5px;
}

@media screen and (max-width: 500px) {

    input {
        height: 100px;
        font-size: 1.5em;
        width: 69%;
    }

    button.add {
        width: 30%;
        font-size: 1em;
    }
}