@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Lilita+One&display=swap');

/* ESTILO GERAL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: normal 1em "JetBrains Mono", monospace;
}

body {
    /* background-color: black;
    background-image: url('images/deve1.jpg');
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; */

    background: black url('images/deve1.jpg') right no-repeat fixed;
    background-size: cover;
}

main {
    height: 100%;
    width: 100%;
    margin-top: 70px;
}

.flex {
    display: flex;
}

.azul {
    color: #1795ba;
    font-weight: 800;
}

a {
    text-decoration: none;
    cursor: pointer;
}

section {
    margin-bottom: 10px;
}

.wpp {
    margin: 30px 0 15px 0;
}

.wpp button {
    display: block;
    background-color: green;
    color: white;
    padding: 17px;
    font-size: 1.5em;
    font-weight: 700;
    border-radius: 25px;
    margin: auto;
    border: none;
}

.wpp button:hover {
    transform: scale(1.2);
    transition: .5s;
    background-color: #1795ba;
    cursor: pointer;
}

/*CABEÇALHO*/
header {
    padding: 40px;
}

.logo {
    display: inline-block;
    padding: 20px;
    border: 1px solid rgba(255, 255, 205, 0);
    border-radius: 25px;
    margin-left: 40px;
}

.logo:hover {
    transition: .5s;
    transform: scale(1.1);
}

.logo>a>h1 {
    color: rgb(255, 255, 255);
    font-size: 2em;
    font-weight: 800;
    font-style: normal;
    text-align: center;
    text-shadow: 1px 1px 3px black;
}

.menu {
    float: right;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.623);
    border-radius: 10px;
}

.menu:hover {
    background-color: transparent;
}

.menu>nav>ul {
    margin-right: 0;
}

.menu>nav>ul>li {
    display: inline-block;
    padding: 10px 20px 10px 20px;
    margin: 0 5px 0 5px;

}

.menu>nav>ul>li:hover {
    background-color: #1795ba;
    border-radius: 10px;
    transform: scale(1.3);
    transition: .5s;
}

.menu>nav>ul>li a {
    color: white;
    font-weight: 600;
    text-decoration: none;
    text-shadow: 1px 1px 3px black;
    font-size: 1.2em;

}

.menu>nav>ul>li a:hover {
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.582);
}

/* TOPO DO SITE */

section.topo-do-site,
section.sobre {
    padding: 40px 4%;
}

section.topo-do-site .flex,
section.sobre .flex {
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.txt {
    color: white;
    background-color: #000000ef;
    padding: 20px;
    border-radius: 10px;
    max-width: 1000px;
    box-shadow: 1px 1px 3px #1794ba2c;
}

.txt h1 {
    padding-top: 10px;
    font-size: 2.5em;
    font-weight: 700;
    text-align: center;
    margin-bottom: 40px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.306);
}

.txt h2 {
    padding-top: 10px;
    font-size: 2.0em;
    font-weight: 700;
    text-align: center;
    margin-bottom: 40px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.306);
}

.txt p {
    font-size: 1.3em;
    text-align: center;
    margin-bottom: 18px;
}

.topo-do-site .topo-img img,
.sobre .foto img {
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar {
    0% {
        top: 0;

    }

    100% {
        top: 20px;

    }
}


.sobre a {
    text-decoration: underline;
    color: #1795ba;
}

.sobre a:hover {
    font-size: 1.2em;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.icons i {
    padding: 20px;
    font-size: 3em;
}

.icons a {
    color: white;
}

.icons a:hover {
    transform: scale(1.3);
    transition: .5s;
    color: #1795ba;
}

/* PORTIFOLIO */

.port1 {
    margin: 50px;
    display: inline-block;
    min-width: 28%;
}

.port1 iframe {
    background-color: white;
    border-radius: 20px;
    box-shadow: 2px 2px 5px #1795ba;
    width: 100%;
    height: 700px;
}

/* RODAPÉ */
footer {
    margin-top: 100px;
    padding: 0px;
}

.ft {
    text-shadow: 1px 1px 3px black;
    border-radius: 15px;
    margin: auto;
    padding: 10px;
    max-width: 400px;
}

.ft>p {
    color: white;
    font-weight: 600;
    margin: auto;
    max-width: 300px;
}

/* RESPONSIVO */


/* CELULARES E TABLETS */
@media screen and (max-width: 1150px) {

    main {
        padding: 10px;
        margin-top: 35px;
    }

    .menu {
        display: none;
    }

    nav {
        display: none;
    }

    .logo {
        background-color: rgba(0, 0, 0, 0.698);
        max-width: 500px;
        display: block;
        margin: auto;
        font-size: 1.2em;
    }

    .flex {
        flex-direction: column;
    }

    .topo-do-site .topo-img img,
    .sobre .foto img {
        width: 300px;
        height: 300px;
    }

    .topo-do-site .flex {
        flex-direction: column-reverse;
    }

    .ft p {
        background-color: rgba(0, 0, 0, 0.858);
        padding: 5px;
        border-radius: 10px;
    }

    .icons i {
        font-size: 2em;
    }

    .port1 {
        display: flex;
        margin: 0 15px 50px 15px;
        flex-direction: column;
    }

    .port1 iframe {
        width: 100%;
        height: 500px;
    }
}